html,
body {
    min-width: 100%!important;
    min-height: 100%!important;
    height: 100%!important;
}


.main-content{
    width: 90%;
}

.language-content > textarea{
    height: 10rem;
}